<% layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
    <h3 >login  user</h3>
    <form method="POST" action="/login">
      <div>
      <label for="username" class="form-label">enter user name</label>
      <input required  name="username" id="username" type="text" class="form-control"/>
    </div>
    <br>
   
    <br>
     <div>
      <label for="password" class="form-label">enter password</label>
      <input required
      name="password"
      type="password"
      class="form-control"
    />
     </div>
     <br>   
    <br>
    <button>signup</button>
    <br>

    </form>
  </div>
</div>
</body>
